body {
    margin: 0;
    padding:0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(12, 55, 90,0.5) !important;
    height: 100vh;
    min-height: 100vh;
  }
#main{ height: 95vh;}
#mapid {
    width: 600px; 
    height: 600px;
    display: inline-block;
    box-shadow: 5px 5px 10px;
    box-shadow: grey;
}
#textContent{
    color: rgb(12, 55, 90);
    display: inline-block;
    padding: 10px;
    text-align:center;
}
#contentFrame{
    position: relative;
    top: 5rem;
}
#spacer{
    height: 6.5rem;
    width: 100%;
}

  @media screen and (max-width: 1560px) {
    #mapid {
        width: 450px; 
        height: 450px;
    }
  }
  
  
  @media screen and (max-width: 767px) {
      #mapid {
        width: 300px; 
        height: 300px;
        box-shadow: none;
    }
  }

table, tr, th{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 0.3rem;
}
th{
    padding: 0.5rem;
}
#popupTable tr:nth-child(even){background-color: rgb(12, 55, 90,0.5);}
#popupTable tr:nth-child(odd){background-color: rgba(12, 55, 90,0.2);}
#popupButton{
    background-color:rgba(12, 55, 90,0.2);
    margin-top: 0.5rem;
}

